@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

header {
  display: flex;
  align-items: center;
  height: 95vh;
  background-color: #1976d2;
  width: 100%;
  margin-bottom: 50px;
}

img {
  height: 10rem;
  -webkit-filter: invert(1);
   filter: invert(1);
}

.mainText {
  font-family: "Share Tech Mono" !important;
  font-size: 3rem;
  padding-left: 0.8rem;
  padding-right: 0.5rem;
  color: white;
}
